# Created by https://www.gitignore.io/api/git,node,macos,grunt,eclipse,gitbook,windows,composer,wordpress,sublimetext,phpstorm+all,webstorm+all,visualstudio,visualstudiocode
# Edit at https://www.gitignore.io/?templates=git,node,macos,grunt,eclipse,gitbook,windows,composer,wordpress,sublimetext,phpstorm+all,webstorm+all,visualstudio,visualstudiocode

.all-contributorsrc
.github/

# Files with personal details
*.crt
*.csr
*.key
.google.token
.uuid
.storage
.deploy-keys
icloud/
google_calendars.yaml
harmony_media_room.conf
home-assistant.db
home-assistant_v2.db
home-assistant_v2.db-*
html5_push_registrations.conf
ip_bans.yaml
known_devices.yaml
phue.conf
plex.conf
pyozw.sqlite
secrets.yaml
.HA_VERSION
home-assistant.log.1
home-assistant.log.fault
watchman_report.txt
tradfri.conf

# Temporary files
*.db-journal
*.pid
tts

# automatically downloaded dependencies
deps
lib
www

# Log files
home-assistant.log
ozw_log.txt

# Development files
custom_components
backups/
image
.esphome
