# Database
db_url: mysql://user:password@172.16.5.2/homeassistant?charset=utf8mb4

# HTTP
http_trusted_proxies: "['172.16.5.11/32']"

# Telegram
telegram_bot_token: YOUR_BOT_TOKEN
telegram_chat_personal: YOUR_CHAT_ID
telegram_chat_aanmeegasaaral: YOUR_CHAT_ID
telegram_chat_kaliyugabakthi: YOUR_CHAT_ID
telegram_chat_np: YOUR_CHAT_ID

# iFrame URLs
iframe_url_portainer: https://portainer.yourdomain.com
iframe_url_proxy_manager: https://npm.yourdomain.com
iframe_url_esphome: https://esphome.yourdomain.com

# OPNsense
opnsense_url: https://your-opnsense-ip
opnsense_api_key: YOUR_KEY
opnsense_api_secret: YOUR_SECRET

# CrowdSec
crowdsec_api_key: YOUR_BOUNCER_KEY
crowdsec_host: http://your-opnsense-ip
crowdsec_port: 8080

# iDRAC
idrac_host_r430: YOUR_IDRAC_IP
idrac_username: homeassistant
idrac_password: YOUR_PASSWORD

# MirAIe
miraie_username: YOUR_EMAIL_OR_PHONE
miraie_password: YOUR_PASSWORD

# Proxmox
proxmox_host: YOUR_PROXMOX_IP
proxmox_username: hass
proxmox_password: YOUR_PASSWORD
proxmox_token_id: homeassistant
proxmox_token_secret: YOUR_TOKEN_SECRET
