- id: '1637664778822'
  alias: "\U0001F3E0 House : \U0001F4A1 Entrance Light"
  description: Automate House Entrance Light
  triggers:
  - event: sunset
    offset: -00:10:00
    id: lights-on
    trigger: sun
  - event: sunset
    offset: +01:00:00
    id: lights-dim-75
    trigger: sun
  - event: sunset
    offset: +01:30:00
    id: lights-dim-50
    trigger: sun
  - at: '20:30:00'
    id: lights-dim-25
    trigger: time
  - at: '22:00:00'
    id: lights-night-mode-on
    trigger: time
  - event: sunrise
    offset: -00:30:00
    id: light-morning-mode-on
    trigger: sun
  - event: sunrise
    offset: +00:01:00
    id: light-off
    trigger: sun
  conditions: []
  actions:
  - if:
    - condition: or
      conditions:
      - condition: trigger
        id: lights-on
      - condition: trigger
        id: light-morning-mode-on
    then:
    - data:
        light:
          entity_id: light.house_entrance_9w_philips_light
        power_mode: White Lamp
        brightness: 100
      action: script.light_handler
  - if:
    - condition: trigger
      id: lights-dim-75
    then:
    - data:
        light:
          entity_id: light.house_entrance_9w_philips_light
        power_mode: White Lamp
        brightness: 75
      action: script.light_handler
    enabled: false
  - if:
    - condition: trigger
      id: lights-dim-50
    then:
    - data:
        light:
          entity_id: light.house_entrance_9w_philips_light
        power_mode: White Lamp
        brightness: 50
      action: script.light_handler
    enabled: false
  - if:
    - condition: trigger
      id: lights-dim-25
    then:
    - data:
        light:
          entity_id: light.house_entrance_9w_philips_light
        power_mode: White Lamp
        brightness: 25
      action: script.light_handler
    enabled: false
  - if:
    - condition: trigger
      id: lights-night-mode-on
    then:
    - data:
        light:
          entity_id: light.house_entrance_9w_philips_light
        power_mode: Outdoor Night Lamp
        brightness: 6
      enabled: true
      action: script.light_handler
    - data:
        light:
          entity_id: light.house_entrance_9w_philips_light
        power_mode: White Lamp
        brightness: 26
      enabled: false
      action: script.light_handler
    enabled: true
  - if:
    - condition: trigger
      id: light-off
    then:
    - data:
        light:
          entity_id: light.house_entrance_9w_philips_light
        power_mode: 'Off'
        brightness: 1
      action: script.light_handler
  mode: single
- id: '1637717292445'
  alias: "\U0001F3E2 Office : \U0001F4A1Lights"
  description: Handles Office Light Automation
  triggers:
  - at: 05:45:00
    id: power-on-all
    trigger: time
  - at: 06:00:00
    id: reduce-usage
    trigger: time
  - entity_id: light.office_light_1
    to: 'on'
    id: office_light_1_on
    trigger: state
  - entity_id: light.office_light_2
    to: 'on'
    id: office_light_2_on
    trigger: state
  conditions: []
  actions:
  - choose:
    - conditions:
      - condition: trigger
        id: power-down
      sequence:
      - data:
          action: Power Off
          target:
            entity_id:
            - light.office_light_1
            - light.office_light_2
        action: script.office_lights
    - conditions:
      - condition: trigger
        id: power-on-all
      sequence:
      - data:
          action: Power On
          target:
            entity_id:
            - light.office_light_1
            - light.office_light_2
        action: script.office_lights
    - conditions:
      - condition: trigger
        id: reduce-usage
      sequence:
      - data:
          action: Power Off
          target:
            entity_id: light.office_light_2
        action: script.office_lights
      - data:
          action: Power 5%
          target:
            entity_id: light.office_light_1
        action: script.office_lights
    - conditions:
      - condition: or
        conditions:
        - condition: trigger
          id: office_light_1_on
        - condition: trigger
          id: office_light_2_on
      - condition: time
        after: '22:00:00'
        before: 05:00:00
      sequence:
      - data:
          action: Power Off
          target:
            entity_id:
            - light.office_light_1
            - light.office_light_2
        action: script.office_lights
    default: []
  mode: restart
- id: '1639062091039'
  alias: "\U0001F3E0 House : \U0001F4A1Back Corridor "
  description: ''
  trigger:
  - platform: sun
    event: sunrise
    offset: -00:15:00
    id: power-on-bright-mode
  - platform: sun
    event: sunrise
    offset: -00:05:00
    id: power-off
  - platform: time
    at: '20:30:00'
    id: power-on-night-mode
  - platform: state
    entity_id: light.back_corridor_9w_philips_light
    to: 'on'
    id: power-back
  - platform: state
    entity_id:
    - binary_sensor.hall_rear_door
    to: 'on'
    from: 'off'
    id: door-opened
  - platform: state
    entity_id:
    - binary_sensor.hall_rear_door
    to: 'off'
    from: 'on'
    id: door-closed
  condition: []
  action:
  - choose:
    - alias: OK Good
      conditions:
      - condition: or
        conditions:
        - condition: trigger
          id: power-on-bright-mode
        - condition: and
          conditions:
          - condition: trigger
            id: door-opened
          - condition: time
            before: 05:30:00
            after: '20:00:00'
            enabled: true
      sequence:
      - service: script.back_corridor_light
        data:
          action: Power On
    - conditions:
      - condition: trigger
        id: power-off
      sequence:
      - service: script.back_corridor_light
        data:
          action: Power Off
    - conditions:
      - condition: or
        conditions:
        - condition: trigger
          id: power-on-night-mode
        - condition: and
          conditions:
          - condition: trigger
            id: door-closed
          - condition: time
            before: 05:30:00
            after: '20:00:00'
            enabled: true
      sequence:
      - service: script.back_corridor_light
        data:
          action: Night Mode
    - conditions:
      - condition: time
        after: '20:30:00'
        before: 05:00:00
      - condition: trigger
        id: power-back
      sequence:
      - service: script.back_corridor_light
        data:
          action: Night Mode
    default:
    - if:
      - condition: time
        before: '19:59:55'
        after: 06:01:00
      then:
      - service: script.back_corridor_light
        data:
          action: Power Off
        enabled: true
  mode: single
- id: '1639471882632'
  alias: "\U0001F3E0 House :\U0001F4A1 Kitchen Light"
  description: ''
  trigger:
  - platform: time
    at: '17:00:00'
    id: power-on
  - platform: time
    at: '17:30:00'
    id: power-75
  - platform: time
    at: '18:00:00'
    id: power-50
  - platform: time
    at: '19:00:00'
    id: power-100
  - platform: time
    at: '20:00:00'
    id: power-50
  - platform: time
    at: '20:30:00'
    id: power-25
  - platform: time
    at: '20:45:00'
    id: night-mode
  - platform: state
    entity_id: light.kitchen_9w
  - platform: time
    at: 05:30:00
    id: morning
  - platform: time
    at: 05:45:00
    id: power-off
  - platform: state
    entity_id:
    - binary_sensor.kitchen_door
    to: 'on'
    from: 'off'
    id: door-opened
  - platform: state
    entity_id:
    - binary_sensor.kitchen_door
    to: 'off'
    from: 'on'
    id: door-closed
  condition: []
  action:
  - choose:
    - conditions:
      - condition: or
        conditions:
        - condition: trigger
          id: power-on
        - condition: trigger
          id: morning
        - condition: trigger
          id: power-100
        - condition: and
          conditions:
          - condition: trigger
            id: door-opened
          - condition: time
            before: 05:25:00
            after: '20:00:00'
      sequence:
      - service: script.kitchen_light
        data:
          action: Power On
    - conditions:
      - condition: trigger
        id: power-75
      - condition: state
        entity_id: binary_sensor.kitchen_door
        state: 'on'
      sequence:
      - service: script.kitchen_light
        data:
          action: Power 75%
    - conditions:
      - condition: trigger
        id: power-50
      - condition: state
        entity_id: binary_sensor.kitchen_door
        state: 'on'
      sequence:
      - service: script.kitchen_light
        data:
          action: Power 50%
    - conditions:
      - condition: trigger
        id: power-25
      - condition: state
        entity_id: binary_sensor.kitchen_door
        state: 'on'
      sequence:
      - service: script.kitchen_light
        data:
          action: Power 25%
    - conditions:
      - condition: or
        conditions:
        - condition: trigger
          id: night-mode
        - condition: and
          conditions:
          - condition: trigger
            id: door-closed
          - condition: time
            before: 05:25:00
            after: '20:00:00'
      sequence:
      - service: script.kitchen_light
        data:
          action: Night Mode
    default:
    - condition: time
      after: 05:45:00
      before: '17:00:00'
    - service: script.kitchen_light
      data:
        action: Power Off
      enabled: true
  mode: single
- id: '1639739782881'
  alias: "\U0001F3E0 House :\U0001F4A1 Parents Bedroom Lights"
  description: ''
  triggers:
  - entity_id: light.bedroom_parents_light_9w
    to: 'on'
    id: light-back-on
    trigger: state
  - at: '18:00:00'
    id: power-50
    trigger: time
  - at: '20:00:00'
    id: power-25
    trigger: time
  - at: '20:20:00'
    id: power-on
    trigger: time
  - at: '21:55:00'
    id: power-75
    trigger: time
    enabled: false
  - at: '22:15:00'
    id: power-50
    trigger: time
    enabled: false
  - at: '22:25:00'
    id: power-25
    trigger: time
    enabled: false
  - at: '22:30:00'
    id: night-mode
    trigger: time
    enabled: true
  - at: 01:00:00
    id: night-mode2
    trigger: time
  - at: 06:00:00
    id: power-off
    trigger: time
  conditions: []
  actions:
  - choose:
    - conditions:
      - condition: trigger
        id: power-50
      sequence:
      - data:
          action: Power 50%
        action: script.parents_bedroom_light
    - conditions:
      - condition: trigger
        id: power-25
      sequence:
      - data:
          action: Power 25%
        action: script.parents_bedroom_light
    - conditions:
      - condition: trigger
        id: power-on
      sequence:
      - data:
          action: Power On
        action: script.parents_bedroom_light
    - conditions:
      - condition: trigger
        id: power-75
      sequence:
      - data:
          action: Power 75%
        action: script.parents_bedroom_light
    - conditions:
      - condition: trigger
        id: power-off
      sequence:
      - data:
          action: Power Off
        action: script.parents_bedroom_light
    - conditions:
      - condition: trigger
        id:
        - night-mode
        - night-mode2
      sequence:
      - data:
          action: Night Mode
        action: script.parents_bedroom_light
    default:
    - data:
        action: Power 75%
      action: script.parents_bedroom_light
  mode: single
- id: '1675414426751'
  alias: "\U0001F4F2 Personal Mobile"
  description: ''
  trigger:
  - platform: state
    entity_id:
    - sensor.varun_sridharan_last_used_app
    to: com.instagram.android
    id: opened-instagram
    alias: 'Instagram : Opened'
  - platform: state
    entity_id:
    - sensor.varun_sridharan_last_used_app
    id: closed-instagram
    from: com.instagram.android
    alias: 'Instagram : Closed'
  condition: []
  action:
  - if:
    - condition: trigger
      id: opened-instagram
    then:
    - service: notify.mobile_app_varun_sridharan
      data:
        message: command_volume_level
        data:
          media_stream: music_stream
          command: 1
  - if:
    - condition: trigger
      id: closed-instagram
    then:
    - service: notify.mobile_app_varun_sridharan
      data:
        message: command_volume_level
        data:
          media_stream: music_stream
          command: 20
  mode: queued
  max: 10
- id: '1678183490302'
  alias: "\U0001F3E2 Office :  Fan"
  description: ''
  triggers:
  - at: 06:00:00
    id: morning
    trigger: time
  - at: '22:00:00'
    id: night
    trigger: time
  - trigger: state
    entity_id:
    - switch.office_fan_boost
    id: boost-mode-off
    from: 'off'
    to: 'on'
    for:
      hours: 0
      minutes: 20
      seconds: 0
  conditions: []
  actions:
  - if:
    - condition: trigger
      id: morning
    then:
    - data:
        percentage: 100
      target:
        entity_id: fan.office_fan
      action: fan.turn_on
    alias: Morning Turn On
  - if:
    - condition: trigger
      id: night
    then:
    - data: {}
      target:
        entity_id: fan.office_fan
      action: fan.turn_off
    alias: Night Turn Off
  - alias: Auto Boost Mode - Off
    if:
    - condition: trigger
      id:
      - boost-mode-off
    then:
    - action: switch.turn_off
      metadata: {}
      data: {}
      target:
        entity_id: switch.office_fan_boost
  mode: single
- id: '1706775038285'
  alias: Frigate Notifications (0.12.0.2)
  description: ''
  use_blueprint:
    path: SgtBatten/Stable.yaml
    input:
      critical: 'true'
      camera: camera.front_camera
      notify_device: 1501dfb511ffa98a4b648856db029190
      update_thumbnail: true
      color: amber
      channel: cctv-notify
      loiter_timer: 10
      silence_timer: 1
      cooldown: 65
      labels:
      - person
- id: '1718448505920'
  alias: On UPS Power Management
  description: Auto turn off & On when UPS On battery
  triggers:
  - entity_id:
    - binary_sensor.office_apc_ups_online_status
    from: 'on'
    to: 'off'
    id: office-ups-on-battery
    trigger: state
  - entity_id:
    - binary_sensor.office_apc_ups_online_status
    from: 'off'
    to: 'on'
    id: office-ups-on-line
    trigger: state
  conditions: []
  actions:
  - choose:
    - conditions:
      - condition: trigger
        id:
        - office-ups-on-battery
      sequence:
      - metadata: {}
        data: {}
        action: switch.turn_off
    - conditions:
      - condition: trigger
        id:
        - office-ups-on-line
      sequence:
      - metadata: {}
        data: {}
        action: switch.turn_on
  mode: single
- id: '1742921110082'
  alias: New automation
  description: ''
  triggers:
  - trigger: time
    at: 00:20:00
  conditions: []
  actions:
  - action: input_boolean.turn_off
    metadata: {}
    data: {}
    target:
      entity_id: input_boolean.office_ac_power_on_off
  mode: single
- id: '1746105808725'
  alias: "\U0001F3E2 Office : ❄️ AC Controller"
  description: Control Office Room AC Via Wifi
  triggers:
  - trigger: state
    entity_id:
    - climate.office_ac
    from: 'off'
    to: cool
    alias: Cool Mode - On
    id: cool-mode-on
  - trigger: time
    at: '22:35:00'
    id: 10pm-off
  conditions: []
  actions:
  - if:
    - condition: trigger
      id:
      - 10pm-off
    then:
    - action: climate.turn_off
      metadata: {}
      data: {}
      target:
        entity_id: climate.office_ac
  mode: parallel
  max: 10
- id: '1761059250213'
  alias: Sump Motor
  description: Auto Turn on / Off Sump Motor
  triggers:
  - trigger: time
    at: '17:45:00'
    id: 530pm
    weekday:
    - sun
    - mon
    - tue
    - wed
    - thu
    - fri
    - sat
  - trigger: time
    at: '17:00:00'
    id: 5pm
    weekday:
    - sun
    - mon
    - tue
    - wed
    - thu
    - fri
    - sat
  - trigger: state
    entity_id:
    - switch.sump_motor_on_off
    from: 'off'
    to: 'on'
    id: sumpon-30
    for:
      hours: 0
      minutes: 45
      seconds: 0
  - trigger: state
    entity_id:
    - switch.sump_motor_on_off
    from: unavailable
    to: 'on'
    id: sump-black-to-on
    for:
      hours: 0
      minutes: 0
      seconds: 0
  conditions: []
  actions:
  - if:
    - condition: trigger
      id:
      - 5pm
    then:
    - action: switch.turn_on
      metadata: {}
      data: {}
      target:
        entity_id: switch.sump_motor_on_off
    alias: Turn on  @ 5PM
  - alias: 'Turn off @ 530PM '
    if:
    - condition: trigger
      id:
      - 530pm
    then:
    - action: switch.turn_off
      metadata: {}
      data: {}
      target:
        entity_id: switch.sump_motor_on_off
  - alias: Turn off Auto
    if:
    - condition: trigger
      id:
      - sumpon-30
    then:
    - action: switch.turn_off
      metadata: {}
      data: {}
      target:
        entity_id: switch.sump_motor_on_off
  mode: restart
- id: rack_fans_on_hot_10m
  alias: Rack Fans ON (≥32°C for 10m)
  description: ''
  triggers:
  - entity_id: sensor.universal_remote_control_temperature
    above: 32
    for: 00:10:00
    trigger: numeric_state
  conditions:
  - condition: state
    entity_id: switch.live_system_3_plug
    state: 'off'
  actions:
  - target:
      entity_id: switch.live_system_3_plug
    action: switch.turn_on
    data: {}
  mode: restart
- id: rack_fans_off_when_stable
  alias: Rack Fans OFF (stable 10m)
  description: ''
  triggers:
  - entity_id: binary_sensor.rack_temp_stable_10m
    to: 'on'
    trigger: state
  conditions:
  - condition: state
    entity_id: switch.live_system_3_plug
    state: 'on'
  actions:
  - target:
      entity_id: switch.live_system_3_plug
    action: switch.turn_off
  mode: single
- id: '1761282692068'
  alias: Rack Fans OFF (stable 10m)
  description: Rack Fans OFF (stable 10m)
  triggers:
  - entity_id: binary_sensor.rack_temp_stable_10m
    to: 'on'
    trigger: state
  conditions:
  - condition: state
    entity_id: switch.live_system_3_plug
    state: 'on'
  actions:
  - target:
      entity_id: switch.live_system_3_plug
    action: switch.turn_off
    data: {}
  mode: restart
- id: '1761282769213'
  alias: Rack Fans ON (≥32°C for 10m)
  description: ''
  triggers:
  - entity_id:
    - sensor.universal_remote_control_temperature
    above: 32
    for:
      hours: 0
      minutes: 10
      seconds: 0
      milliseconds: 0
    trigger: numeric_state
  conditions:
  - condition: state
    entity_id: switch.live_system_3_plug
    state: 'off'
  - condition: state
    entity_id: binary_sensor.rack_temp_stable_10m
    state: 'off'
    for:
      hours: 0
      minutes: 10
      seconds: 0
    enabled: false
  actions:
  - target:
      entity_id: switch.live_system_3_plug
    action: switch.turn_on
  mode: restart
- id: '1761662606636'
  alias: "\U0001F50C Personal PC "
  description: ''
  triggers:
  - trigger: numeric_state
    entity_id:
    - sensor.personal_pc_plug_current_consumption
    for:
      hours: 0
      minutes: 2
      seconds: 0
    below: 15
  conditions: []
  actions:
  - action: switch.turn_off
    metadata: {}
    data: {}
    target:
      entity_id: switch.personal_pc_plug
  - if:
    - condition: and
      conditions:
      - condition: numeric_state
        entity_id: sensor.office_table_plug_current_consumption
        below: 15
      - condition: time
        after: '20:50:00'
        before: 05:00:00
        weekday:
        - sun
        - mon
        - tue
        - wed
        - thu
        - fri
        - sat
    then:
    - action: switch.turn_off
      metadata: {}
      data: {}
      target:
        entity_id: switch.office_table_plug
  mode: single
